@{
    ViewBag.Title = "Map";
}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYPqGGRZNZuaENVkwuGplf0ULdM6fw6vk"></script>
<script type="text/javascript" src = "../../Scripts/jscript_way.js">
</script>

<div class="top_contact paralax">
	<div class="blur"></div>
	<p class="title_p center_elements">YOUR WAY</p>			
</div>
		
<div id = "content">
	<div class="map_and_way">
		<div id = "map" class="way_map">
		</div>
		<div class="way_points">
			<h1> <acc>WAY</acc> POINTS</h1>
            <table class="my_table" summary="Way Points">
                <thead>
                    <tr>
                        <th >ID</th>
                        <th >Lat</th>
                        <th >Lng</th>
                        <th >Time</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="4" class="rounded-foot-left"><em>The above data were fictional and made up, please do not sue me</em></td>
                    </tr>
                </tfoot>
                <tbody id="my_tbody">
                    
                </tbody>
            </table>
		</div>
	</div>
			
			
			
	<div style="margin-bottom: 20px;">
		
	</div>
</div>